body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-menu .ant-menu-item-selected {
  background-color: #6366f2 !important;
  color: white !important;
}

.custom-menu .ant-menu-item:hover {
  color: #6366f2 !important;
}

.custom-menu .ant-menu-item-selected .anticon {
  color: white !important;
}

.custom-menu .anticon {
  color: #6366f2;
}

.logo .anticon:hover {
  background-color: rgba(99, 102, 242, 0.1);
}